apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: trial-frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8004
          env:
            - name: VITE_API_URL_AUTH
              value: "http://localhost:30001"
            - name: VITE_API_URL_COURSE
              value: "http://localhost:30002"
            - name: VITE_API_URL_OPERATIONAL
              value: "http://localhost:30003"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 8004
      targetPort: 8004
      nodePort: 30004
